<ion-header class="top">
  <ion-toolbar>
    <ion-title>Playing Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <h2>Exercise Rules:</h2>
  <ul>
    <li>Perform the specified exercises promptly to earn the full money reward.</li>
    <li>Longer durations for exercises will yield bows as a partial reward.</li>
  </ul>

  <h2>Icons:</h2>
  <ul>
    <li>💰 - Represents money earned.</li>
    <li>🎀 - Represents collected bows.</li>
  </ul>

  <p>After you finish the game, the money you collected will be funded to those suffering from breast cancer.</p>

  <div>
    <ion-button (click)="startHunting()" color="danger" class="custom-button">Start Game</ion-button>
  </div>
</ion-content>
