<ion-header>
  <ion-toolbar style="background-color: #752f51;">
    <ion-title>Playing Rules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #b893b5; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h2>Exercise Rules:</h2>
  <ul>
    <li>Perform the specified exercises promptly to earn the full money reward.</li>
    <li>Longer durations for exercises will yield bows as a partial reward.</li>
  </ul>

  <h2>Icons:</h2>
  <ul>
    <li>💰 - Represents money earned.</li>
    <li>🎀 - Represents collected bows.</li>
  </ul>

  <p>After you finish the game, the money you collected will be funded to those suffering from breast cancer.</p>

  <div style="width: 100%; display: flex; justify-content: center;">
    <ion-button (click)="startHunting()" color="danger" class="custom-button">Start Game</ion-button>
  </div>
</ion-content>
