<ion-header class="top">
  <ion-toolbar>
    <ion-title>Turn Hope</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="ion-padding">
    <ion-item>
      <ion-text class="task">Turn the device upside down.</ion-text>
    </ion-item>

    <ion-item class="checkbox-container">
      <ion-checkbox [disabled]="true" [(ngModel)]="isTurnedUpsideDown"></ion-checkbox>
      <ion-label>upside down</ion-label>
    </ion-item>

    <ion-row class="button-container">
      <ion-col>
        <ion-button id="next-button" (click)="doneButton()" color="danger" [disabled]="!isNextButtonEnabled">Next</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <p>💰 Collect up to 5 Money Bags</p>
  <p>🎀 Collect up to 4 Ribbon</p>
</ion-content>
