<!-- settings.page.html -->
<ion-header>
  <ion-toolbar style="background-color: #752f51;">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="background-color: #b893b5; display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h2>Permissions</h2>
  <!-- Location Permission Checkbox -->
  <ion-checkbox (click)="checkLocationPermission()" [(ngModel)]="locationPermissionGranted">Allow Location</ion-checkbox>

  <!-- Camera Permission Checkbox -->
  <ion-checkbox (click)="checkCameraPermission()" [(ngModel)]="cameraPermissionGranted">Allow Camera</ion-checkbox>

  <!-- Start Game Button -->
  <ion-button [disabled]="!locationPermissionGranted || !cameraPermissionGranted" (click)="startGame()" color="danger" class="custom-button">Start Game</ion-button>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="background-color: #b893b5; color: #752f51;">
    <ion-tabs></ion-tabs>
  </ion-toolbar>
</ion-footer>
