.background {
  --background: url('../../assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-bottom: 20px;
}

.logo-container img {
  max-width: 90%;
  max-height: 100%;
}
.intro {
  text-align: center;
  font-style: italic;
  color: black;
  margin-top: auto;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

/* Responsive Schriftgröße anpassen */
@media screen and (max-width: 768px) {
  .intro {
    font-size: 18px; /* Anpassung der Schriftgröße für kleinere Bildschirme */
  }
}

.cta-button {
  background-color: #b893b5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e55d6a; /* Farbwechsel bei Hover */
}
