ion-content.background {
  --background: url('../../assets/background0.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* 100% der Bildschirmhöhe verwenden */
}

ion-content.background .intro {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* 100% der Bildschirmhöhe verwenden */

}

/* Responsive Schriftgröße anpassen */
@media screen and (max-width: 768px) {
  ion-content.background .intro {
    font-size: 18px; /* Anpassung der Schriftgröße für kleinere Bildschirme */
  }
}

ion-content.background .cta-button {
  background-color: #b893b5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ion-content.background .cta-button:hover {
  background-color: #e55d6a; /* Farbwechsel bei Hover */
}

ion-tab-bar {
  --background: #b893b5;
}

ion-tab-button {
  color: white;
}
