<ion-header class="top">
  <ion-toolbar>
    <ion-title>Journey for a Cure</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Embark on a mission to raise funds for breast cancer awareness by completing the following QR Code challenge.</p>
  <h2>📷 Scan the QR Code</h2>

  <ion-card>
    <ion-card-content>
      <p>Point your camera at the QR code and capture it</p>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="scanQRCode()" color="primary" class="custom-button">Scan QR Code</ion-button>

  <ion-card *ngIf="scannedResult">
    <ion-card-header>
      <p>Scanned QR Code Content</p>
    </ion-card-header>
    <ion-card-content>
      <p>{{ scannedResult }}</p>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="doneButton()" color="danger" class="custom-button" [disabled]="!scannedResult">Done</ion-button>
  <p>💰 Collect up to 4 Money Bags</p>
  <p>🎀 Collect up to 3 Ribbon</p>
</ion-content>
