<!-- pinpong-exercise.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Coordinates: Navigating Support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Navigate through the coordinates provided, charting a path that leads to important
    locations in the quest for breast cancer awareness</p>
  <h2>🏓 Walk to the ping pong table</h2>
  <ion-card>
    <ion-card-content *ngIf="currentLocation">
      <p>Latitude: {{ currentLocation.coords.latitude }}</p>
      <p>Longitude: {{ currentLocation.coords.longitude }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Distance to Ping Pong Table</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="distanceToPingPongTable !== undefined">Distance: {{ distanceToPingPongTable.toFixed(2) }} m</p>
      <p *ngIf="distanceToPingPongTable === undefined">Calculating distance...</p>
    </ion-card-content>
  </ion-card>
  <!-- Done Button -->
  <ion-button (click)="doneButton()" color="danger" class="custom-button">Done</ion-button>

  <!-- Reward Information -->
  <p *ngIf="collectedWallets === 0 && collectedRibbons === 0">
    💰 Collect up to 2 Money Bags
  </p>
  <p *ngIf="collectedWallets === 0 && collectedRibbons === 0">
    🎀 Collect up to 1 Ribbon
  </p>
</ion-content>
