<ion-header class="top">
  <ion-toolbar>
    <ion-title>Hope's Trail: Steps for support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Embark on a purposeful journey to show support for breast cancer awareness by completing a meaningful walk to designated coordinates.</p>
    <h2>🚶🏻‍♀️Walk 2 meters</h2>

    <!-- Display the real-time distance -->
    <div *ngIf="distanceTraveled !== null">
      <p>Distance Traveled: {{ distanceTraveled.toFixed(2) }} meters</p>
    </div>

    <!-- Add other content as needed -->

    <!-- Button to stop the exercise -->
    <ion-button expand="block" (click)="stopExercise()" color="danger" class="custom-button">Next Exercise</ion-button>

    <!-- Display the real-time distance -->
    <div *ngIf="distanceTraveled !== null">
      <p>Current Distance: {{ distanceTraveled.toFixed(2) }} meters</p>
    </div>
  </div>
</ion-content>
