<ion-header class="top">
  <ion-toolbar>
    <ion-title>Hope's Trail: Steps for support</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Embark on a purposeful journey to show support for breast cancer awareness by completing a meaningful walk to designated coordinates.</p>
    <h2>🚶🏻‍♀️Walk 2 meters</h2>
<!--    <ion-button expand="block" (click)="goToRulesPage()" color="danger" class="custom-button">View playing rules</ion-button>-->
  </div>
</ion-content>
