<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Past Hunts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item *ngFor="let hunt of pastHunts">
      <ion-label>{{ hunt.name }}</ion-label>
      <ion-note slot="end">{{ hunt.dateTime }}</ion-note>
      <ion-note slot="end" *ngIf="hunt.exerciseType === 'steps'">
        💰 {{ getTotalCollectedRewards(hunt).collectedWallets }} 🎀 {{ getTotalCollectedRewards(hunt).collectedRibbons }}
      </ion-note>
      <ion-note slot="end" *ngIf="hunt.exerciseType === 'pingpong'">
        💰 {{ getTotalCollectedRewards(hunt).collectedWallets }} 🎀 {{ getTotalCollectedRewards(hunt).collectedRibbons }}
      </ion-note>
      <ion-note slot="end" *ngIf="hunt.exerciseType === 'qrcode'">
        💰 {{ getTotalCollectedRewards(hunt).collectedWallets }} 🎀 {{ getTotalCollectedRewards(hunt).collectedRibbons }}
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
