<ion-header class="top">
  <ion-toolbar>
    <ion-title>Getting Started</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Please enter your name</p>
    <ion-button (click)="startGame()" expand="block" color="danger" class="custom-button">Continue</ion-button>
  </div>

  <ion-alert>
    <!-- Added input for name -->
    <ion-input [(ngModel)]="name" placeholder="Your Name"></ion-input>

    <!-- Save Name button -->
    <ion-button (click)="startGame()" expand="block" color="primary">Save Name</ion-button>
  </ion-alert>
</ion-content>
