<ion-header class="top">
  <ion-toolbar>
    <ion-title>Getting Started</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Type your name</p>
<!--    <ion-button expand="block" (click)="StartGame()" color="danger" class="custom-button">Continue</ion-button>-->

      <ion-input
        aria-label="Custom input"
        placeholder="Custom input"
          class="custom">
        <!--         helper-text="Helper text"
                :counter="true"
                :maxlength="20"-->
      </ion-input>

  </div>
</ion-content>
