<!--<div class="game-result">
  <div class="header">
    <h2>Game Result</h2>
  </div>
  <div class="details">
    <p>Date: {{ result.date | date }}</p>
    <p>Player: {{ result.playerName }}</p>
    <p>Duration: {{ result.duration | time }}</p>
    <p>Trophies: {{ result.trophies }}</p>
    <p>Defeats: {{ result.defeats }}</p>
    <p>Required Time: {{ result.requiredTime | time }}</p>
  </div>
</div>-->

<div class="game-result">
  <div class="header">
    <h2>Game Result</h2>
  </div>
  <div class="details">
    <p>Date: 16.08.2020</p>
    <p>Player: Tony</p>
    <p>Duration: 3:46</p>
    <p>Trophies: 2x</p>
    <p>Defeats: 1x</p>
    <p>Required Time: 3.30</p>
  </div>
</div>
