<ion-header class="top">
  <ion-toolbar>
    <ion-title>Load the hope</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Every charge of your phone becomes a symbolic gesture, powering your device to continue supporting breast cancer awareness.</p>

    <!-- Checkbox to indicate whether the phone is charging -->
    <ion-checkbox disabled [(ngModel)]="isCharging">Phone is connected to charger</ion-checkbox>

    <!-- Button to navigate to the next page -->
    <ion-button expand="block" [disabled]="!isCharging" (click)="goToNextPage()" color="danger" class="custom-button">Next Exercise</ion-button>
  </div>
</ion-content>
