<ion-header class="top">
  <ion-toolbar>
    <ion-title>Introduction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background">
  <div class="intro">
    <p>Welcome to our scavenger hunt adventure! In this game, completing exercises earns you full money rewards that can be used to support those suffering from breast cancer.</p>
    <ion-button expand="block" (click)="goToRulesPage()" color="danger" class="custom-button">View playing rules</ion-button>
  </div>
</ion-content>
