ion-content.background {
  background-color: #f0dae5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh; /* Use 100% of the screen height */
}

ion-content.background .intro {
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%; /* Use 100% of the screen height */
}

/* Responsive font size adjustment */
@media screen and (max-width: 768px) {
  ion-content.background .intro {
    font-size: 18px; /* Adjust font size for smaller screens */
  }
}

ion-content.background .cta-button {
  background-color: #b893b5;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ion-content.background .cta-button:hover {
  background-color: #e55d6a; /* Color change on hover */
}

ion-tab-bar {
  --background: #b34479;
}

ion-header {
  --background: #b34479;
}

ion-tab-button {
  color: white;
}
