<!-- exercise-connectwifi.page.html -->
<ion-header class="top">
  <ion-toolbar>
    <ion-title>Connection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-item>
      <ion-text class="task">Verbinde dich mit dem WLAN</ion-text>
    </ion-item>

    <ion-item class="checkbox-container">
      <ion-checkbox disabled [(ngModel)]="isWifiConnected"></ion-checkbox>
      <ion-label>Mit WLAN verbunden</ion-label>
    </ion-item>

    <ion-row class="button-container">
      <ion-col>
        <ion-button id="next-button" color="danger" (click)="doneButton()" [disabled]="!isNextButtonEnabled">Weiter</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
